<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/milestones">Milestones</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/milestonetypes">MilestoneTypes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/parse">Parse</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/workflows">Workflows</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/dataview">DataView</a>
    </li>
  </ul>

</nav>
