<!DOCTYPE html>
<html>
  <head>
    <% include partials/bshead.ejs %>
  </head>
  <body>
    <% include partials/nav.ejs %>
    <div class="container">
      <table class="table table-bordered">
        <thead>
          <tr>
            <td>ShortWFID</td>
            <td>Workflow name</td>
            <td>Input file</td>
            <td>Start time</td>
          </tr>
          <% data.forEach(function(item){ %>
            <tr>
              <td><%= item.ShortWorkflowTaskID %></td>
              <td><%= item.WorkflowName %></td>
              <td><%= item.InputFileName %></td>
              <td><%= item.startTime %></td>
            </tr>
          <% }); %>
        </thead>
      </table>
    </div>
  </body>
</html>
