<!DOCTYPE html>
<html>
  <head>
    <% include partials/bshead.ejs %>
  </head>
  <body>
    <% include partials/nav.ejs %>
    <h1>MilestonesTypes</h1>
    <div class="container">
      <table class="table table-bordered">
        <thead>
          <tr>
            <td>MilestoneTypeID</td>
            <td>MilestoneTypeDescription</td>
          </tr>
          <% data.forEach(function(item){ %>
            <tr>
              <td><%= item.MilestoneTypeID %></td>
              <td><%= item.MilestoneTypeDescription %></td>
            </tr>
          <% }); %>
        </thead>
      </table>
    </div>
  </body>
</html>
