<!DOCTYPE html>
<html>
  <head>
    <% include partials/bshead.ejs %>
  </head>
  <body>
    <% include partials/nav.ejs %>
    <h1>Milestones</h1>
    <div class="container">
      <table class="table table-bordered">
        <thead>
          <tr>
            <td>MilestoneID</td>
            <td>WorkflowTaskId</td>
            <td>MilestoneTypeID</td>
            <td>LogTime</td>
          </tr>
          <% data.forEach(function(item){ %>
            <tr>
              <td><%= item.MilestoneID %></td>
              <td><%= item.ShortWorkflowTaskID %></td>
              <td><%= item.MilestoneTypeID %></td>
              <td><%= item.LogTime %></td>
            </tr>
          <% }); %>
        </thead>
      </table>
    </div>
  </body>
</html>
